// Global configs, like colors, fonts, breakpoints, etc.

// Colors

$G-blue: #4285F4;
$G-green: #34A853;
$G-yellow: #FBBC05;
$G-red: #EA4335;
$G-grey: #464948;
$G-bg: #F0F4F9;
$G-hover: #C2E7FF;

//Breakpoints
$desktop: 1280px;
$tablet: 768px;

// Font size (modify later)
$fs-mobile: 18px;
$fs-tablet: 24px;
$fs-laptop: 30px;

//Global styling
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: sans-serif;
}

button{
  border: 0;
  background: transparent;
}