@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.mobile-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop {
    background-color: $G-bg;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      flex-direction: row;
      justify-content: start;
      max-height: 90%;
    }
  }

  &__screenshot {
    max-height: 60%;
    width: 100%;
    object-fit: contain;

    @include desktop {
      max-height: 100%;
      width: 100%;
      margin-right: 24px;
      margin-bottom: 24px;
      border-radius: 30px;
      object-fit: fill;
    }
  }
}