@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.mobile-page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__screenshot {
    max-width: 100vw;
    object-fit: contain;

    @include desktop {
      width: 100%;
      margin-right: 12px;
      border-radius: 30px;
    }
  }
  
  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @include desktop {
      flex-direction: row;
      justify-content: start;
    }
  }

  @include desktop {
    background-color: $G-bg;
  }
}