@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.footer {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: $G-bg;
  flex-shrink: 0;
  text-align: center;

  @include tablet {
    padding: 0 80px;

    @include desktop {
      padding: 32px 20px;
      height: 100%;
      flex-direction: column;
      position: static;
      width: 240px;
      order: -1;
      justify-content: flex-start;
      align-items: start;
    }
  }

  &__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      flex-direction: row;
      
    }

    &__img{
      width: 64px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      border-radius: 16px;

      @include desktop {
        margin: 0;
      }

      &>img{
        width: 30%;
      }
    }

    &__text{
      font-size: 12px;
    }

    &:hover{
      .footer__btn__img{
        background-color: $G-hover;
      }

      .footer__btn__text{
        font-weight: bold;
      }
    }
  }
}